@media (min-width: 1300px) and (max-width: 1600px) {
  .section-title {
    width: 40%;
  }
  .info__title {
    font-size: 40px;
  }
  .parctice__areas-info {
    padding: 0 10px;
  }
  .practice__areas-description {
    padding: 0 10px;
  }
  .areas__title {
    font-size: 40px;
  }
  .areas1,
  .areas2,
  .areas3,
  .areas4 {
    width: 200px;
    height: 200px;
  }
  .about__section {
    width: 75%;
  }
  .about__parteners {
    width: 300px;
    height: 410px;
  }
  .success__section-title {
    font-size: 40px;
  }
  .other__step-info {
    padding: 0 5%;
  }
  .other__step-title {
    font-size: 40px;
  }
}
@media (min-width: 1100px) and (max-width: 1299px) {
  .header__content {
    width: 90%;
  }
  .header__menu {
    padding: 0 5%;
  }
  .main__section {
    height: 90vh;
  }
  .main__section-overlay {
    height: 90vh;
  }
  .section-title {
    width: 50%;
    padding-top: calc(35vh);
  }
  .counter__section-info {
    width: 90%;
  }
  .info__title {
    font-size: 30px;
  }
  .practice__areas-container {
    width: 90%;
  }
  .parctice__areas-info {
    padding: 0 10px;
  }
  .practice__areas-description {
    padding: 0 10px;
  }
  .areas__title {
    font-size: 40px;
  }
  .areas1,
  .areas2,
  .areas3,
  .areas4 {
    width: 200px;
    height: 200px;
  }
  .about__section {
    width: 90%;
  }
  .about__parteners {
    width: 300px;
    height: 410px;
  }
  .success__section-title {
    font-size: 40px;
  }
  .other__step-info {
    padding: 0 5%;
  }
  .succes__steps-section {
    height: 70vh;
  }
  .succes__section-overlay {
    height: 70vh;
  }
  .success__section-description {
    width: 50%;
  }
  .succes-step {
    width: 270px;
    height: 200px;
    margin: -100px 30px 0 0;
    padding: 0 10px;
    align-content: normal;
  }
  .step__number {
    font-size: 40px;
  }
  .step__title {
    font-size: 16px;
  }
  .step__description {
    font-size: 14px;
  }
  .other__step-title {
    font-size: 40px;
  }
  .other__step-info {
    box-sizing: border-box;
    width: 72%;
    padding: 0 15%;
    height: 450px;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .header__content {
    width: 95%;
  }
  .header__menu {
    padding: 0 2%;
  }
  .main__section {
    height: 90vh;
  }
  .main__section-overlay {
    height: 90vh;
  }
  .section-title {
    width: 50%;
    padding-top: calc(35vh);
  }
  .navbar__menu-link {
    margin: 0 10px;
  }
  .section__counter {
    width: 85%;
  }
  .counter__section-info {
    width: 95%;
  }
  .info__title {
    width: 40%;
  }
  .practice__areas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .parctice__areas-info {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .practice__areas-description {
    width: 90%;
    margin: auto;
  }
  .areas1,
  .areas2,
  .areas3,
  .areas4 {
    width: 45%;
    height: 300px;
  }
  .areas__button {
    margin: 50px auto;
  }
  .about__section {
    width: 100%;
  }
  .about__parteners {
    width: 250px;
    height: 360px;
  }
  .succes__steps-section {
    height: 60vh;
  }
  .succes__section-overlay {
    height: 60vh;
  }
  .succes-step {
    width: 250px;
    height: 200px;
    margin: -100px 30px 0 0;
    padding: 0 10px;
    align-content: normal;
  }
  .step__number {
    font-size: 40px;
  }
  .step__title {
    font-size: 16px;
  }
  .step__description {
    font-size: 14px;
  }
  .other__step-info {
    width: 100%;
  }
  .service__title {
    width: 60%;
    font-size: 54px;
  }
  .service__subtitle {
    font-size: 24px;
    margin: 30px 0;
  }
  .case__block{
    flex-direction: column;
  }
  .studies__block{
    width: 100%;
    margin: 10px 0;
  }
  .studies__block-img{
    width: 250px;
  }
  .studies__title{
    margin-top: 20px;
  }
  .studies__post-date{
  margin: 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header__content {
    width: 95%;
  }
  .header__menu {
    padding: 0 2%;
  }
  .main__section,
  .main__section-overlay {
    height: 70vh;
  }
  .section-title {
    width: 50%;
    font-size: 60px;
    padding-top: calc(30vh);
  }
  .section-subtitle {
    width: 60%;
  }
  .section__counter {
    width: 85%;
  }
  .counter__number {
    font-size: 36px;
  }
  .counter__title {
    font-size: 15px;
  }
  .counter__section-info {
    width: 95%;
  }
  .info__title {
    font-size: 36px;
    min-width: 30%;
    margin-right: 20px;
  }
  .info__description {
    width: 100%;
  }
  .info__description-container {
    display: flex;
    flex-direction: column;
  }
  .practice__areas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .parctice__areas-info {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .practice__areas-description {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  .areas1,
  .areas2,
  .areas3,
  .areas4 {
    width: 45%;
    height: 300px;
  }
  .areas__button {
    margin: 50px auto;
  }
  .about__section {
    width: 100%;
  }
  .about__partener-conatiner {
    width: 100%;
  }
  .about__parteners {
    width: 220px;
    height: 360px;
  }
  .succes__steps-section {
    height: 70vh;
  }
  .succes__section-overlay {
    height: 70vh;
  }
  .succes-step {
    width: 240px;
    height: 300px;
    margin: -170px 10px 0 0;
    align-content: normal;
  }
  .other__step-info {
    width: 100%;
    padding: 5%;
    height: 500px;
  }
  .success__section-description {
    width: 95%;
  }
  .other__step-title {
    font-size: 44px;
  }
  .other__step-subtitle {
    width: 90%;
  }
  .header__navbar-button {
    margin: 0;
  }
  .navbar__menu-items {
    display: none;
  }
  .collapse__menu {
    display: block;
  }
  .dropbtn {
    background-image: url(../images/square.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 991px;
    transform: translate(-420px, 10px);
    text-align: center;
    overflow: auto;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
  .service__title {
    font-size: 48px;
    width: 60%;
  }
  .service__subtitle {
    font-size: 24px;
  }
  .case__block{
    flex-direction: column;
  }
  .studies__block{
    width: 100%;
    margin: 10px 0;
  }
  .studies__block-img{
    width: 250px;
  }
  .studies__title{
    margin-top: 20px;
  }
  .studies__post-date{
  margin: 20px 0;
  }
}
@media (min-width: 480px) and (max-width: 660px) {
  .studies__block{
    flex-direction: column;
    padding: 10px;
  }
  .studies__block-img{
    margin: auto;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .header__content {
    width: 95%;
  }
  .left__content {
    display: none;
  }
  .left__menu {
    display: none;
  }
  .right__content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    padding: 0 2%;
  }
  .header__navbar-button {
    display: none;
  }
  .main__section,
  .main__section-overlay {
    height: 90vh;
  }
  .section-title {
    width: 70%;
    font-size: 60px;
    padding-top: calc(30vh);
  }
  .section-subtitle {
    width: 80%;
  }
  .section__counter {
    box-sizing: border-box;
    width: 95%;
    padding: 20px 20px 0 20px;
  }
  .counter__inner {
    flex-direction: column;
  }
  .counter__element {
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px 0;
  }
  .counter__number {
    font-size: 40px;
    margin: 10px 0;
  }
  .counter__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .section-info {
    padding-left: 10px;
  }
  .counter__section-info {
    width: 95%;
    margin-bottom: 50px;
  }
  .section__info-structure {
    flex-direction: column;
  }
  .info__title {
    font-size: 36px;
    width: 100%;
    margin-bottom: 20px;
  }
  .info__description {
    width: 100%;
  }
  .info__description-container {
    display: flex;
    flex-direction: column;
  }
  .practice__areas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .parctice__areas-info {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
  }
  .practice__areas-description {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  .areas__title {
    font-size: 36px;
  }
  .areas1,
  .areas2,
  .areas3,
  .areas4 {
    width: 100%;
    height: 300px;
  }
  .areas__button {
    margin: 50px auto;
  }
  .areas__description-title {
    margin-top: 15%;
  }
  .about__section {
    width: 100%;
    margin-top: 50px;
  }
  .about__title {
    font-size: 40px;
  }
  .about__partener-conatiner {
    width: 100%;
  }
  .about__parteners {
    width: 400px;
    height: 500px;
  }
  .about__button {
    display: block;
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  .succes__steps-section {
    height: 70vh;
  }
  .succes__section-overlay {
    height: 70vh;
  }
  .success__section-subtitle {
    font-size: 24px;
  }
  .success__section-title {
    font-size: 36px;
  }
  .success__section-description {
    width: 90%;
  }
  .succes-step {
    display: block;
    width: 450px;
    height: 300px;
    margin: -70px 0 0 0;
    align-content: normal;
  }
  .other__step-info {
    width: 95%;
    padding: 5%;
    height: 450px;
  }
  .other__step-title {
    font-size: 36px;
  }
  .other__step-subtitle {
    width: 100%;
  }
  .header__navbar-button {
    margin: 0;
  }
  .navbar__menu-items {
    display: none;
  }
  .collapse__menu {
    display: block;
  }
  .dropbtn {
    background-image: url(../images/square.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transform: translate(150px, 0px);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 800px;
    transform: translate(-580px, 10px);
    text-align: center;
    overflow: auto;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }
  .services__section,
  .services__section-overlay {
    height: 50vh;
  }
  .service__title {
    font-size: 48px;
    width: 60%;
  }
  .service__subtitle {
    font-size: 24px;
    margin: 20px 0;
  }
  .case__block{
    flex-direction: column;
  }
  .studies__block{
    width: 100%;
    margin: 10px 0;
  }
  .studies__block-img{
    width: 250px;
  }
  .studies__title{
    margin-top: 20px;
  }
  .studies__post-date{
  margin: 20px 0;
  }
}
@media (min-width: 100px) and (max-width: 479px) {
  .header__content {
    width: 95%;
  }
  .left__content {
    display: none;
  }
  .left__menu {
    display: none;
  }
  .right__content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    padding: 0 2%;
  }
  .header__navbar-button {
    display: none;
  }
  .main__section,
  .main__section-overlay {
    height: 90vh;
  }
  .section-title {
    width: 80%;
    font-size: 36px;
    padding-top: calc(30vh);
  }
  .section-subtitle {
    width: 80%;
  }
  .section__counter {
    box-sizing: border-box;
    width: 95%;
    padding: 20px 20px 0 20px;
  }
  .counter__inner {
    flex-direction: column;
  }
  .counter__element {
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px 0;
  }
  .counter__number {
    font-size: 40px;
    margin: 10px 0;
  }
  .counter__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .section-info {
    padding-left: 10px;
  }
  .counter__section-info {
    width: 95%;
    margin-bottom: 50px;
  }
  .section__info-structure {
    flex-direction: column;
  }
  .info__title {
    font-size: 24px;
    width: 100%;
    margin-bottom: 20px;
  }
  .info__description {
    width: 100%;
  }
  .info__description-container {
    display: flex;
    flex-direction: column;
  }
  .practice__areas-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .parctice__areas-info {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
  }
  .practice__areas-description {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  .areas__title {
    font-size: 24px;
  }
  .areas1,
  .areas2,
  .areas3,
  .areas4 {
    width: 100%;
    height: 200px;
  }
  .areas__button {
    margin: 50px auto;
  }
  .about__section {
    width: 100%;
    margin-top: 50px;
  }
  .about__title {
    font-size: 40px;
  }
  .about__partener-conatiner {
    width: 100%;
  }
  .about__parteners {
    width: 250px;
    height: 400px;
  }
  .about__button {
    display: block;
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  .succes__steps-section {
    height: 70vh;
  }
  .succes__section-overlay {
    height: 80vh;
  }
  .success__section-subtitle {
    font-size: 18px;
  }
  .success__section-title {
    font-size: 24px;
  }
  .success__section-description {
    width: 90%;
  }
  .succes-step {
    display: block;
    width: 450px;
    height: 300px;
    margin: -70px 0 0 0;
    align-content: normal;
  }
  .other__step-info {
    width: 95%;
    padding: 15% 5% 0% 5%;
    height: 350px;
    display: block;
  }
  .other__step-title {
    font-size: 24px;
  }
  .other__step-subtitle {
    width: 100%;
  }
  .header__navbar-button {
    margin: 0;
  }
  .navbar__menu-items {
    display: none;
  }
  .collapse__menu {
    display: block;
  }
  .dropbtn {
    background-image: url(../images/square.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 500px;
    transform: translate(-300px, 10px);
    text-align: center;
    overflow: auto;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }
  .services__section,
  .services__section-overlay {
    height: 50vh;
  }
  .service__title {
    font-size: 30px;
    width: 90%;
  }
  .service__subtitle {
    font-size: 16px;
    width: 90%;
    margin: 10px 0;
  }
  .studies__block{
    flex-direction: column;
    padding: 10px;
  }
  .studies__block-img{
    margin: auto;
  }
  .case__block{
    flex-direction: column;
  }
  .studies__block{
    width: 100%;
    margin: 10px 0;
  }
  .studies__block-img{
    width: 100%;
  }
  .studies__title{
    margin-top: 20px;
  }
  .studies__post-date{
  margin: 20px 0;
  }
}
